# LOAD THE DATASET FROM THE GIVEN BELOW LINK.

https://drive.google.com/file/d/1RWvyhf9AcDZsSB5xVVgzsbHI1m4sFBJf/view?usp=share_link

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\User\Desktop\Assignment 1\chipotle.tsv", delimiter = '\t', header = 0, index_col = 0, names = ['Quantity','Name', 'Description', 'Price'])
df

,Quantity,Name,Description,Price
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

# USING PANDAS FUNCTION CALCULATE HOW MANY PRODUCTS COSTS MORE THAN $10?

In [3]:
df = pd.read_csv(r"C:\Users\User\Desktop\Assignment 1\chipotle.tsv", delimiter = '\t', header = 0, index_col = 0, names = ['Quantity','Name', 'Description', 'Price'])
df['Price'] = df['Price'].str[1:].astype(float)
df['Count'] = 1
df['Per Item Price'] = df['Price']/df['Quantity']
df

,Quantity,Name,Description,Price,Count,Per Item Price
1,1,Chips and Fresh Tomato Salsa,NaN,2.39,1,2.39
1,1,Izze,[Clementine],3.39,1,3.39
1,1,Nantucket Nectar,[Apple],3.39,1,3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,1,2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,1,8.49
...,...,...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,1,11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,1,11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,1,11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,1,8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,1,8.75

In [4]:
more_than_10 = df.loc[(df['Per Item Price']>=10)].count().max()

In [5]:
print(more_than_10)

1034

# What is the price of each item?

In [6]:
df1 = df.groupby(['Name','Price']).mean()

C:\Users\User\AppData\Local\Temp\ipykernel_11636\2394290365.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df1 = df.groupby(['Name','Price']).mean()

In [7]:
df1['Per Item Price']

Name               Price
6 Pack Soft Drink  6.49      6.49
                   12.98     6.49
Barbacoa Bowl      8.69      8.69
                   8.99      8.99
                   9.25      9.25
                            ...
Veggie Salad Bowl  11.25    11.25
Veggie Soft Tacos  8.49      8.49
                   8.75      8.75
                   11.25    11.25
                   16.98     8.49
Name: Per Item Price, Length: 209, dtype: float64

# Which is the Most Expensive Item?

In [10]:
x = df['Price'].max()
df.loc[df['Price'] == x]

,Quantity,Name,Description,Price,Count,Per Item Price
1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,1,2.95